<div class="topnav">
  <a routerLink="home">Home</a>
  <a routerLink="client-auth">client</a>
  <a routerLink="admin">admin</a>
  <a routerLink="contact-us">Contact</a>
  <a routerLink="produit">produit</a>
  <div class="search-container">
    <input id="nom" [(ngModel)]="nom" type="text" placeholder="Search..">
    <button id="exempleModal2"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@getbootstrap" (click)="search()">Search</button>
  </div>
</div>




<div class="modal fade"  id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="doSomthing()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="product">
          <div class="form-group" >
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" value="{{product.nom}}">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">description:</label>
            <textarea class="form-control" id="message-text">{{product.description}}</textarea>
          </div>
          <div class="form-group" >
            <label for="recipient-name" class="col-form-label">prix:</label>
            <input  type="text" class="form-control" id="prix" value=" {{product.prix}}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="doSomthing()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
