<form name="form"
      #f="ngForm"

      (ngSubmit)="f.form.valid && onSubmit()"
>
  <div>
    <div>Email :  {{form.email}}</div>
    <div>Password : {{form.password}}</div>
  </div>

  <div class="container">
    <label for="email" ><b>Email : </b></label>
    <input type="email" placeholder="Enter Your Email " name="email" id="email"  [(ngModel)]="form.email" #email="ngModel" required >
    <div class="form_error" *ngIf="email.errors && f.submitted">
      email is required
    </div>
    <label for="password"><b>Password : </b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password"
           [(ngModel)]="form.password" #password="ngModel" required minlength="8">

    <div class="form_error" *ngIf="password.errors && f.submitted">

        <div *ngIf="password.errors['required']">

        password is required
      </div>
      <div *ngIf="password.errors['minlength']">
        length 8 !
      </div>
    </div>

    <button type="submit">Login</button>
  </div>
</form>
