
<head>
  <meta charset="UTF-8">
  <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
  <link rel="stylesheet" href="menu.component.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div class="menu">
<app-header></app-header>
  </div>
<div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px">
  <a [routerLink]="['/admin/dashboard']"  class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
  <a [routerLink]="['/admin/produit']" class="w3-bar-item w3-button"><i class="fa fa-cube" aria-hidden="true"></i></a>
  <a [routerLink]="['/admin/user']" class="w3-bar-item w3-button"><i class="fa fa-user-circle" aria-hidden="true"></i></a>

  <a [routerLink]="['/admin/chat']" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
</div>
  <router-outlet></router-outlet>

