<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class = "bg-image"></div>
<form>
  <label for="fullName">Your Name:</label>
  <input type="text" placeholder="Full Name" name="fullName" id="fullName">

  <label for="email">Your Email:</label>
  <input type="email" placeholder="abcd@xyz.com" name="email" id="email" required>

  <label for="subject">Subject:</label>
  <input type="subject" placeholder="Job Enquiry" name="text" id="subject" required>

  <label for="message">Message:</label>
  <textarea placeholder="Your Message Here" name="message" id="message" required></textarea>

  <!-- Submit Button -->
  <button>Submit</button>

</form>
<!-- /Main Form Ended -->
</body>
</html>
