<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Nom:</label>
    <input type="text" formControlName="nom">
  </div>
  <div>
    <label>Description:</label>
    <textarea formControlName="description"></textarea>
  </div>
  <div>
    <label>Prix:</label>
    <input type="number" formControlName="prix">
  </div>
  <div>
    <label>Client Id:</label>
    <input type="number" formControlName="clientId">
  </div>
  <div>
    <label>Image:</label>
    <input type="file" (change)="onFileSelected($event)">
  </div>
  <button type="submit">Créer un produit</button>
</form>
